* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

html { 
  background: url(/src/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#content {
  margin-top: 5%;
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-top: 5%;
  background: rgba(0, 0, 0, 0.377);
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1% 2% 1% 2%;
}

main h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

main h2 {
  font-size: 28px;
}

main p {
  font-size: 20px;
}

/*#region Header Styling */

.header {
  overflow: hidden;
  background-color: #414141;
  width: 100vw;
  padding-right: 1%;
  top: 0;
  position: sticky;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 35px;
  font-weight: bold;
  font-family: cursive;
  margin: 20px 0px 10px 5px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}



/*#endregion*/

@media only screen and (max-width: 500px) {
  body {
    overflow: scroll;
  }

  .header {
    position: sticky;
    width: 100vw;
    padding: 0;
    height: fit-content;
  }

  .header a.logo {
    float: none;
    display: block;
    text-align: left;
    margin: 0px;
    width: fit-content;
  }

  .header .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .header-list {
    display: none;
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }

  .header-list-item {
    display: block;
    margin: 0;
  }

  .header-right {
    float: none;
  }

  main {
    width: 95vw;
    align-items: center;
  }

  iframe {
    width: 95%;
  }
}