#menu {
  margin-bottom: 100px; 
  padding: 2%;
  background: rgba(0, 0, 0, 0.671);
  border-radius: 20px; 
  display: flex;
  flex-direction: column;
  width: 90%;
  color: white;
  font-family: cursive;
}

.menu-title {
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
  font-family: 'Tangerine', cursive;
}

.menu-header {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Tangerine', cursive;
}

.menu-section {
  background: dodgerblue;
  color: black;
  margin: 2%;
  width: 15%;
  height: fit-content;
  min-width: fit-content;
  border-radius: 5px;
  text-decoration: none;
  padding: 2%;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Tangerine', cursive;
}

.menu-section:hover {
  transform: translateY(-5px);
  background-color: dodgerblue;
}

.section-title {
  background: white;
  color: black;
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 3em;
}

h1 {
  font-family: 'Tangerine', cursive;
  font-size: 2.5em;
}

.right {
  float: right;
}

body {
  height: fit-content;
  margin-bottom: 5%;
}

html {
  overflow-y: scroll;
}

